.not-found {
  background-color: #222;
  height: 100%;
  width: 100%;

  h2{
    color: lightgray;
  }

  img {
    height: 170px;
    width: 170px;
    filter: invert(50%) sepia(98%) saturate(6078%) hue-rotate(195deg)
      brightness(101%) contrast(102%);
  }
}
