<div
  class="container"
  fxLayout.xs="column wrap"
  fxLayoutAlign.xs="center center"
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <div class="image" fxLayoutAlign="center center">
    <img
      [ngStyle.xs]="{ 'width.px': 150, 'height.px': 150 }"
      src="/assets/images/joshua.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div
    class="info"
    [ngStyle.xs]="{ 'font-size.px': 32 }"
    fxLayout="column"
    fxLayoutAlign="space-between start"
  >
    <h2 [ngStyle.xs]="{ 'font-size.px': 32 }">Web Developer</h2>
    <p [ngStyle.xs]="{ 'width.px': 260, 'font-size.px': 14 }">
      Hello there, my name is Joshua, a web developer with
      {{ today - startYear }} years of experience in designing and developing
      user interfaces, testing, debugging, and training aspiring web developers.
      I also write blog posts every once in a while :)
    </p>
    <div class="btns" fxLayoutAlign="space-between start" fxLayoutGap="20px">
      <button id="cv" mat-flat-button>Download CV</button>
      <button id="contacts" mat-flat-button routerLink="/contacts">
        Contacts
      </button>
    </div>
  </div>
</div>
