<div class="container" fxLayoutAlign="center center">
  <div class="info" fxLayout="column" fxLayoutAlign="space-between start">
    <h2>Web Developer</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore repellat
      iusto ducimus vel ab quos a. Beatae non doloribus corrupti repudiandae
      commodi aliquam laudantium ipsum sed. Alias temporibus numquam quos.
    </p>
    <button mat-flat-button>Download CV</button>
  </div>
  <img src="/assets/images/joshua.jpg" alt="" srcset="" />
</div>
