<div class="container" fxLayout="column wrap" fxLayoutAlign="space-evenly center">
  <div class="header" fxLayout="column wrap" fxLayoutAlign="start start">
    <h2>Contacts</h2>
    <span>Let's get in touch :)</span>
  </div>
  <div class="bottom" fxLayoutAlign="space-evenly center">
    <div class="contacts" fxLayout="column wrap">
      <div class="contact" fxLayoutAlign="start center">
        <mat-icon>email</mat-icon>
        <span>lugjosh@gmail.com</span>
      </div>
      <div class="contact" fxLayoutAlign="start center">
        <mat-icon>phone</mat-icon>
        <span>+(256) 703 720 473</span>
      </div>
      <div class="contact" fxLayoutAlign="start center">
        <mat-icon>location_on</mat-icon>
        <span>Kampala, Uganda</span>
      </div>
    </div>
    <div class="contacts" fxLayout="column wrap">
      <div class="contact" fxLayoutAlign="start center">
        <img src="/assets/images/github.png" alt="" srcset="">
        <span>github.com/joshtrigger</span>
      </div>
      <div class="contact" fxLayoutAlign="start center">
        <img src="/assets/images/linkedin.png" alt="" srcset="">
        <span>linkedin.com/in/joshua-lugada-67a31016a/</span>
      </div>
      <div class="contact" fxLayoutAlign="start center">
        <img src="/assets/images/medium.png" alt="" srcset="">
        <span>medium.com/@lugjosh</span>
      </div>
    </div>
  </div>

</div>
