.content {
  background-color: #007ced;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;

  .mat-card {
    height: 720px;
    width: 1320px;
    background-color: #222;
    padding: 0;
    border-radius: 42px;
    color: #fff;
    padding: 0;

    .header,
    .details,
    .footer {
      width: 100%;
    }

    .header {
      padding: 20px 60px;

      .name {
        p {
          font-size: 24px;
          font-weight: 400;
          margin: 0 10px;
        }
        @media screen and (max-width: 599px) {
          ::ng-deep .avatar-container {
            height: 30px;
            width: 30px;
          }
        }
      }

      .nav {
        width: 400px;
        p {
          color: gray;
          border: none;

          &:hover {
            color: #fff;
            cursor: pointer;
          }

          &:focus {
            outline: none;
          }
        }

        .nav-active {
          color: #fff;
        }
      }

      .mat-icon{
        display: none;
      }
    }

    .details {
      width: 100%;
      height: 74%;
    }

    .footer {
      // border-top: 1px solid gray;
      height: 70px;
      padding: 0 60px;
      a {
        font-family: "Poppins", Helvetica, sans-serif;
        color: gray;
        text-decoration: none;
        font-size: 16px;
        margin-left: 5px;

        &:hover {
          color: lightgray;
          cursor: pointer;
        }
      }

      img {
        height: 16px;
        width: 16px;
      }
    }
  }
}

::ng-deep .mat-menu-panel {
  background-color: #222 !important;

  .mat-menu-content {
    button {
      color: lightgray;
    }
  }
}
