<div
  class="resume"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign="space-between start"
  fxlayoutGap="40px"
  [ngStyle.xs]="{ 'padding.px': 30 }"
>
  <div [ngStyle.xs]="{ width: 'auto' }" class="left" fxLayout="column wrap">
    <h2>WORK EXPERIENCE</h2>
    <div
      class="work-experience"
      fxLayout="column wrap"
      *ngFor="let work of resume.work"
    >
      <h3>{{ work.title | titlecase }}</h3>
      <h4>{{ work.company | titlecase }}</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>{{ work.from }} - {{ work.to | titlecase }}</span>
        <span>{{ work.location | titlecase }}</span>
      </div>
      <span>Description</span>
      <ul>
        <li *ngFor="let task of work.tasks">{{ task }}</li>
      </ul>
      <br />
    </div>
    <h2>EDUCATION</h2>
    <div class="work-experience" fxLayout="column wrap">
      <h3>{{ resume.education.course | titlecase }}</h3>
      <h4>{{ resume.education.institution | titlecase }}</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>{{ resume.education.from }} - {{ resume.education.to }}</span>
        <span>{{ resume.education.location | titlecase }} </span>
      </div>
    </div>
  </div>
  <div [ngStyle.xs]="{ width: 'auto' }" class="right" fxLayout="column wrap">
    <h2>SKILLS</h2>
    <div class="skills" fxLayout="row wrap">
      <div
        class="skill"
        fxLayoutAlign="center center"
        *ngFor="let skill of resume.skills"
      >
        {{ skill }}
      </div>
    </div>
    <br />
    <h2>PERSONAL PROJECTS</h2>
    <div
      *ngFor="let project of resume.projects"
      class="work-experience"
      fxLayout="column wrap"
    >
      <h4>{{ project.name | titlecase }}</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>{{ project.from }} - {{ project.to | titlecase }}</span>
      </div>
      <span>Description</span>
      <ul *ngFor="let task of project.tasks">
        <li>{{ task }}</li>
      </ul>
      <br />
    </div>
  </div>
</div>
