<div class="resume" fxLayoutAlign="space-between start" fxlayoutGap="40px">
  <div class="left" fxLayout="column wrap">
    <h2>WORK EXPERIENCE</h2>
    <div class="work-experience" fxLayout="column wrap">
      <h3>Front-end developer</h3>
      <h4>Leapa</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>04/2020 - Present</span>
        <span>Remote</span>
      </div>
      <span>Achievement/Tasks</span>
      <ul>
        <li>Building something awesome</li>
        <li>Building something awesome</li>
      </ul>
    </div>
    <br />
    <h2>EDUCATION</h2>
    <div class="work-experience" fxLayout="column wrap">
      <h3>Front-end developer</h3>
      <h4>Leapa</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>04/2020 - Present</span>
        <span>Remote</span>
      </div>
      <span>Achievement/Tasks</span>
      <ul>
        <li>Building something awesome</li>
        <li>Building something awesome</li>
      </ul>
    </div>
  </div>
  <div class="right" fxLayout="column wrap">
    <h2>SKILLS</h2>
    <div class="skills">
      <div class="skill">Python</div>
    </div>
    <br />
    <h2>PERSONAL PROJECTS</h2>
    <div class="work-experience" fxLayout="column wrap">
      <h4>Leapa</h4>
      <div class="dates" fxLayoutAlign="space-between center">
        <span>04/2020 - Present</span>
        <span>Remote</span>
      </div>
      <span>Achievement/Tasks</span>
      <ul>
        <li>Building something awesome</li>
        <li>Building something awesome</li>
      </ul>
    </div>
  </div>
</div>
