.resume {
  height: 100%;
  padding: 60px;
  overflow-y: auto;

  .left,
  .right {
    width: 40%;

    h2 {
      color: #007ced;
      font-weight: 500;
      margin: 10px 0;
    }

    .work-experience {
      h3,
      h4,
      div,
      span,
      ul {
        margin: 4px 0;
      }

      h3 {
        font-weight: 500;
      }

      h4 {
        font-weight: 400;
      }

      span {
        font-style: italic;
        font-size: 14px;
        font-weight: 300;
        color: lightgray;
      }

      .dates {
        span {
          font-style: italic;
          font-size: 14px;
          font-weight: 300;
          color: darkgray;
        }
      }

      ul {
        li {
          font-size: 14px;
          font-weight: 300;
          color: #fff;
          margin-bottom: 4px;
        }
      }
    }

    .skills {
      height: 170px;

      .skill {
        width: fit-content;
        height: fit-content;
        background-color: #007ced;
        padding: 6px;
        border-radius: 4px;
        font-size: 14px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #bebdbd;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}
